---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProductGridOfertas from '../../components/sections/ProductGridOfertas.tsx';
import QueryProvider from '../../components/providers/QueryProvider.tsx';
---

<BaseLayout title="Productos en Oferta - ImprimeArte">
  <div class="pt-32 pb-16">
    <QueryProvider client:load>
      <ProductGridOfertas />
    </QueryProvider>
  </div>
</BaseLayout>
