---
/**
 * DEPRECATED: This page has been replaced by /checkout
 * Redirecting to new checkout page with improved features
 */
---

<html lang="es">
  <head>
    <meta http-equiv="refresh" content="0;url=/checkout" />
    <script>
      window.location.href = '/checkout';
    </script>
  </head>
  <body>
    <p>Redirigiendo a checkout...</p>
  </body>
</html>
